body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #8de190;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}

/* .sidebar .search{
    padding: 0px;
} */

.sidebar .search {
    margin-top: 5px;
}

.sidebar .sidebar-item,
.sidebar .search {
    margin-left: 5px;
    margin-bottom: 5px;
}
