{% extends "encyclopedia/layout.html" %}

{% block title %}
Editing "{{ title }}"
{% endblock %}

{% block body %}
<h1>Edit Entry</h1>
<hr class="solid">

<form id="edit-entry-form" action="/new_entry/" method="POST">
    {% csrf_token %}

    <input type="hidden" name="editing" value="true">

    <input name="entry_title" readonly value="{{ title }}" required type="text" class="form-control"
        id="edit-entry-title">

    <textarea name="entry_content" required class="form-control" id="content" rows="6">{{ content }}</textarea>


    <button type="submit" class="save-button">Save</button>
    <a class="discard-button" href="/">Discard</a>
</form>

{% endblock %}