{% extends "encyclopedia/layout.html" %}

{% block title %}
Editing "{{ title }}"
{% endblock %}

{% block body %}

<form action="/new_entry/" method="POST">
    {% csrf_token %}

    <input type="hidden" name="editing" value="true">

    <input name="title" readonly value="{{ title }}" required type="text" class="form-control" id="title">
    <br>
    <textarea name="content" required class="form-control" id="content" rows="6">{{ content }}</textarea>


    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-danger" href="/">Discard</a>
</form>

{% endblock %}