{% extends "encyclopedia/layout.html" %}
{% block title %} Create New Wiki Entry {% endblock %}


{% block body %}

<h1 id="create-new-entry">Create a New Wiki Entry</h1>
<hr class="solid">
{% if messages %}
<div>
    {% for message in messages %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<form id="new-entry-form" action="" method="post">
    {% csrf_token %}
    <input required class="form-control" type="text" name="entry_title" id="entry_title" placeholder="Title">
    <br>
    <textarea required class="form-control" rows="5" name="entry_content" id="entry_content"
        placeholder="Entry content"></textarea>
    <br>
    <button class="save-button" id="submit-button" type="submit">Submit</button>
</form>

{% endblock %}