{% extends "encyclopedia/layout.html" %}
{% block title %} Create New Entry {% endblock %}


{% block body %}

<div>Create a New Wiki Entry:</div>

<form action="" method="post">
    {% csrf_token %}
    <input required class="form-control" type="text" name="entry_title" id="entry_title" placeholder="Title">
    <br>
    <textarea required class="form-control" rows="5" name="entry_content" id="entry_content"
        placeholder="Entry content"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>


{% endblock %}